@import "../utils/variables";

$color-white:#fff;
$color-divider: #d9d9d9;
$color-actionPrimary: #008078;
$color-actionPrimaryHover: #004d48;
$color-text-primary: #1a1a1a;
$box-shadow-sm: 0 2px 12px rgba(0, 0, 0, 0.08);

$mq-md: 'min-width: 720px';
$mq-lg: 'min-width: 1024px';

$spacing025: 0.25em;
$spacing075: 0.75em;
$spacing050: 0.50em;
$spacing100: 1em;
$spacing150: 1.5em;

$size025: 0.25rem;
$size100: 1rem;
$size125: 1.25rem;
$size150: 1.5rem;
$size300: 3rem;
$size400: 4rem;

$fontSize100: 1rem;

.pocket-header {
    width: 100%;
    background: $color-white;
    box-shadow: $box-shadow-sm;
    border-bottom: 1px solid $color-divider;

    .global-nav-container {
        padding: 0 $spacing100;
        height: $size400;
        display: flex;
        align-items: center;
        max-width: 1168px;
        margin: 0 auto;
    }
}

.global-nav-mobile-menu-btn {
    display: block;
    margin-left: calc($spacing075 * -1);
    width: $size300;
    height: $size300;
    position: relative;
    line-height: 110%;
    border: none;
    border-radius: $size025;
    transition: all 0.15s ease-out;

    &.inline {
        background: none;
        padding: 0;
        color: $color-text-primary;
        text-decoration: underline;
    }

    .hamburger-btn {
        width: $size150;
        height: $size150;
        margin-bottom: -2px;
        display: inline-block;
        margin-top: -0.25em;
        vertical-align: middle;
    }

    @media ($mq-md) {
        display: none;
    }
}

.pocket-logo {
    display: inline-block;
    position: relative;
    margin-right: 0;
    margin-left: calc($spacing075 * -1);
    padding: $spacing050 $spacing050;
    line-height: 1;

    &:focus {
        outline: none;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -2px;
            left: -2px;
            bottom: -2px;
            right: -2px;
            border: 2px solid $color-actionPrimary;
            border-radius: 4px;
        }
    }

    &:active:before, &:hover:before {
        display: none;
    }

    .pocket-logo-svg {
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../../../static/img/pocket-logo-light-mode.svg);
        width: 94px;
        height: 24px;
    }

    &.logged-in .logo {
        display: none;
    }

    @media ($mq-md) {
        margin-right: 3.5rem;

         &:hover {
            cursor: pointer;
         }
    }

    @media ($mq-lg) {
        margin-right: 6em;
    }
}

.sr-only {
    border: 0;
    clip-path: polygon(0 0, 0 0, 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.page-navigation {
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
    line-height: 1;
    white-space: nowrap;

    .page-navigation-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: $size100;
        display: none;
        
        .page-navigation-list-item {
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        @media ($mq-md) {
            display: flex;
        }
    }
}

.page-navigation-list-item-link {
    font-weight: 500;
    line-height: $size150;
    text-decoration: none;
    padding: $size125;
    position: relative;
    
    &:focus {
        outline: 0;

        &:before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            left: $spacing025;
            right: $spacing025;
            top: $spacing050;
            bottom: $spacing050;
            border: 2px solid $color-actionPrimary;
            border-radius: 4px;
        }
    }

    &:hover:before {
        display: none;
    }

    &:active {
        display: none;

        &:before {
            display: none;
        }
    }

    &.selected:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0.625rem;
        right: 0.625rem;
        height: 4px;
        background-color: $color-actionPrimary;
    }

    &.selected:active:after {
        background-color: $color-actionPrimaryHover;
    }
}

.nav-link {
    display: none;
    position: relative;
    padding: $spacing075 $spacing050;
    vertical-align: middle;
    line-height: 110%;
    font-weight: 500;
    text-decoration: none;
    color: $color-text-primary;
    
    &:focus {
        outline: 0;

        &:before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            left: -2px;
            right: -2px;
            top: -2px;
            bottom: -2px;
            border: 2px solid $color-actionPrimary;
            border-radius: 4px;
        }
    }

    &:hover {
        text-decoration: none;
    }

    &:hover:before, &:active:before {
        display: none;
    }

    &.login-link {
        margin-right: $spacing150;
    }

    &.signup-link {
        border: none;
        border-radius: 0.25rem;
        padding: 0.75rem;
        transition: all 0.15s ease-out;
        cursor: pointer;
        background: none;
        border: 2px solid $color-text-primary;

        &:hover {
            background-color: $color-text-primary;
            color: #f2f2f2;
        }

    }

    @media ($mq-md) {
        display: inline-block;
    }
}



