{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

 <footer>
    <div>
        {# Top section #}
        <div>
            <section>
                <h6>Products<h6>
                <ul>
                <li>
                    <a>Must-read articles</a>
                </li>
                <li>
                    <a>Daily newsletter</a>
                </li>
                <li>
                    <a>Pocket Premium</a>
                </li>
                <li>
                    <a>Save to pocket extensions</a>
                </li>
                <ul>
            </section>
            <section>
                <h6>Company<h6>
                <ul>
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>Careers</a>
                    </li>
                    <li>
                        <a>Blog</a>
                    </li>
                <ul>
            </section>
            <section>
                <h6>Resources<h6>
                <ul>
                    <li>
                        <a>Get help</a>
                    </li>
                    <li>
                        <a>Developer API</a>
                    </li>
                    <li>
                        <a>Pocket for publishers</a>
                    </li>
                    <li>
                        <a>Advertise</a>
                    </li>
                <ul>
            </section>
            <section>
                <h6>Get the app</h6>
                <a>
                    <img alt="Download On the Apple App Store">
                </a>
                <a>
                    <img alt="Get It On Google Play">
                </a>
            </section>
        </div>
        {# bottom section#}
        <div>
            <p>Pocket is part of the <a href="https://www.mozilla.org/about/">Mozilla</a> family of products.</p>
               <nav aria-label="Legal">
                <span>© 2021 Read It Later, Inc.</span>
                <a href="https://getpocket.com/privacy?src=footer_v2">Privacy policy</a>
                <a href="https://getpocket.com/tos?src=footer_v2">Terms of service</a>
                <button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie preferences</button>
              </nav>
            </div>
        </div>
    </div>
 </footer>