.pocket-header {
    background: $color-white100;
    border-bottom: 1px solid $color-dividerTertiary;
    box-shadow: $raisedCanvas;
    width: 100%;

    .pocket-logo {
        display: inline-block;
        position: relative;
        margin-right: 6rem;
        margin-left: calc($spacing075 * -1);
        padding: $spacing050 $spacing050;
        line-height: 1;

        &:focus {
            outline: none;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: -2px;
                left: -2px;
                bottom: -2px;
                right: -2px;
                border: 2px solid $color-actionPrimary;
                border-radius: 4px;
            }
        }
        &:hover,
        &:active {
            &::before {
                display: none;
            }
        }
    }
    .logo-mark {
        display: none;
    }

    .global-nav-container {
        height: $size400;
        padding-bottom: 0;
        padding-top: 0;
        box-sizing: content-box;
        margin: 0 auto;
        max-width: 1128px;
        padding: $spacing250;
    }

    @media (max-width: 839px) {
        .pocket-logo {
            margin-right: $spacing350;

            &:hover {
                cursor: pointer;
            }
        }
    }

    @media (max-width: 719px) {
        .global-nav-container {
            padding: $spacing250 $spacing150
        }
        .pocket-logo {
            margin-right: 0;
        }

        &.logged-in {
            .logo {
                display: none;
            }

            .logo-mark {
                display: block;
            }
        }

        .links {
            display: none;
        }
    }

    @media (max-width: 599px) {
        .global-nav-container {
            padding: $spacing150 $spacing100
        }
    }
}

.global-nav {
    display: flex;
    align-items: center;
    height: center;

    .hamburger-icon {
        display: none;

        @media (max-width: 719px) {
            display: block;
            margin-left: calc($spacing075 * -1);
        }
    }
}

.global-nav-mobile-button {
    display: inline-block;
    position: relative;
    font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Sans-Serif;
    font-size: 1rem;
    line-height: 110%;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem;
    transition: all 0.15s ease-out;
    text-decoration: none;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
    }

    &:focus {
        outline: none;

        &:before {
            content: "";
            position: absolute;
            border: 2px solid $color-actionFocus;
            top: -4px;
            bottom: -4px;
            left: -4px;
            right: -4px;
            border-radius: 0.5rem;
        }
    }

    &:hover {
        text-decoration: none;
    }

    &:active:before, &:hover:before {
        display: none;
    }
}
