@font-face {
    font-family: Graphik Web;
    font-weight: 100;
    src: url(../fonts/Graphik-Thin-Web.8a7b553d6f07fa6774d6cc3f566f3817.woff),
      url(../fonts/Graphik-Thin-Web.f68162edaf17e6d6222ab9da5ee6a3ee.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 100;
    font-style: italic;
    src: url(../fonts/Graphik-ThinItalic-Web.d8fc643e1ca78c2047bbf1818f898877.woff),
      url(../fonts/Graphik-ThinItalic-Web.0d830398baa16b5b118e9c3a72544630.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 200;
    src: url(../fonts/Graphik-Extralight-Web.2692a605d0a1873eab0c6c436516b3cc.woff),
      url(../fonts/Graphik-Extralight-Web.3e7d8320e82a4ac557bffb30f49a7dd2.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 200;
    font-style: italic;
    src: url(../fonts/Graphik-ExtralightItalic-Web.8d878c5ddd91785ae4ce02bcbc3611a5.woff),
      url(../fonts/Graphik-ExtralightItalic-Web.e2021e99b9b03e623fb707081f647e11.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 300;
    src: url(../../fonts/Graphik-Light-Web.da8be9aa3a2d638310d7300574c9ca4f.woff),
      url(../../fonts/Graphik-Light-Web.4389379ad479dec8e9013bda556ef683.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 300;
    font-style: italic;
    src: url(../../fonts/Graphik-LightItalic-Web.6c489a038da4053727bb9d59843d55fa.woff),
      url(../../fonts/Graphik-LightItalic-Web.65c8f8e7f2f448733fe4393d0967fa8b.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 400;
    src: url(../../fonts/Graphik-Regular-Web.f4517c893c366f67105eb10713c09aa8.woff),
      url(../../fonts/Graphik-Regular-Web.e05a3b2ff4a3813954bcf8bdb83f9804.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 400;
    font-style: italic;
    src: url(../../fonts/Graphik-RegularItalic-Web.499cfc7bd3673043171850abe04dd21e.woff),
      url(../../fonts/Graphik-RegularItalic-Web.d12ea36eea34954d9fd7dee0ac29640c.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 500;
    src: url(../../fonts/Graphik-Medium-Web.31a8dbe17cf69cda402e9b565d1bb595.woff),
      url(../../fonts/Graphik-Medium-Web.c28abeb53c5265642e173cb1f81e8091.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 500;
    font-style: italic;
    src: url(../../fonts/Graphik-MediumItalic-Web.e849270d3445a26ebdc0e311f5c09a68.woff),
      url(../../fonts/Graphik-MediumItalic-Web.e983ce64531b413c98468b4d6c8a13da.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 600;
    src: url(../../fonts/Graphik-Semibold-Web.f9e768566f6ba55e507f398522df32a7.woff),
      url(../../fonts/Graphik-Semibold-Web.1e9ac78e3efd08db3b5db4380e3a1e6f.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 600;
    font-style: italic;
    src: url(../../fonts/Graphik-SemiboldItalic-Web.034a80f088b241a85c8a8481e842d724.woff),
      url(../../fonts/Graphik-SemiboldItalic-Web.876e8402cf5eabe6b470184b3a9a99f9.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 700;
    src: url(../../fonts/Graphik-Bold-Web.8aec411232046eb045b0222303d906c1.woff),
      url(../../fonts/Graphik-Bold-Web.f9055a490bbbea456422bc02fde65dbd.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 700;
    font-style: italic;
    src: url(../../fonts/Graphik-BoldItalic-Web.5408dfb7fbe6369580c51d784814839a.woff),
      url(../../fonts/Graphik-BoldItalic-Web.97ee2ed109056dd42d1c56779c9f17ad.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 800;
    src: url(../../fonts/Graphik-Black-Web.5bedb5668c86ae2a1f8b7e04ffa54c0b.woff),
      url(../../fonts/Graphik-Black-Web.a525aba1cce162a75f23ba5232bafe71.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 800;
    font-style: italic;
    src: url(../../fonts/Graphik-BlackItalic-Web.8148e65b1be4dad9cc97b417e6bfe300.woff),
      url(../../fonts/Graphik-BlackItalic-Web.e417d4a1935480005c401445a708b71c.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 900;
    src: url(../../fonts/Graphik-Super-Web.8d212593853c895eb75469ee506caa56.woff),
      url(../../fonts/Graphik-Super-Web.f16672fba11f8f3c5422665538f11733.woff2);
  }
  @font-face {
    font-family: Graphik Web;
    font-weight: 900;
    font-style: italic;
    src: url(../../fonts/Graphik-SuperItalic-Web.142c0ac5636d8f50e906a646df05e722.woff),
      url(../../fonts/Graphik-SuperItalic-Web.bf26f31b291983c02f78313e9b32c394.woff2);
  }

