/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./static/scss/styles.scss ***!
  \**********************************************************************************************************************************************/
.pocket-header {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #d9d9d9;
}
.pocket-header .global-nav-container {
  padding: 0 1em;
  height: 4rem;
  display: flex;
  align-items: center;
  max-width: 1168px;
  margin: 0 auto;
}

.global-nav-mobile-menu-btn {
  display: block;
  margin-left: -0.75em;
  width: 3rem;
  height: 3rem;
  position: relative;
  line-height: 110%;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.15s ease-out;
}
.global-nav-mobile-menu-btn.inline {
  background: none;
  padding: 0;
  color: #1a1a1a;
  text-decoration: underline;
}
.global-nav-mobile-menu-btn .hamburger-btn {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: -2px;
  display: inline-block;
  margin-top: -0.25em;
  vertical-align: middle;
}
@media (min-width: 720px) {
  .global-nav-mobile-menu-btn {
    display: none;
  }
}

.pocket-logo {
  display: inline-block;
  position: relative;
  margin-right: 0;
  margin-left: -0.75em;
  padding: 0.5em 0.5em;
  line-height: 1;
}
.pocket-logo:focus {
  outline: none;
}
.pocket-logo:focus:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border: 2px solid #008078;
  border-radius: 4px;
}
.pocket-logo:active:before, .pocket-logo:hover:before {
  display: none;
}
.pocket-logo .pocket-logo-svg {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../static/img/pocket-logo-light-mode.svg);
  width: 94px;
  height: 24px;
}
.pocket-logo.logged-in .logo {
  display: none;
}
@media (min-width: 720px) {
  .pocket-logo {
    margin-right: 3.5rem;
  }
  .pocket-logo:hover {
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .pocket-logo {
    margin-right: 6em;
  }
}

.sr-only {
  border: 0;
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.page-navigation {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2;
  line-height: 1;
  white-space: nowrap;
}
.page-navigation .page-navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1rem;
  display: none;
}
.page-navigation .page-navigation-list .page-navigation-list-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
@media (min-width: 720px) {
  .page-navigation .page-navigation-list {
    display: flex;
  }
}

.page-navigation-list-item-link {
  font-weight: 500;
  line-height: 1.5rem;
  text-decoration: none;
  padding: 1.25rem;
  position: relative;
}
.page-navigation-list-item-link:focus {
  outline: 0;
}
.page-navigation-list-item-link:focus:before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 0.25em;
  right: 0.25em;
  top: 0.5em;
  bottom: 0.5em;
  border: 2px solid #008078;
  border-radius: 4px;
}
.page-navigation-list-item-link:hover:before {
  display: none;
}
.page-navigation-list-item-link:active {
  display: none;
}
.page-navigation-list-item-link:active:before {
  display: none;
}
.page-navigation-list-item-link.selected:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0.625rem;
  right: 0.625rem;
  height: 4px;
  background-color: #008078;
}
.page-navigation-list-item-link.selected:active:after {
  background-color: #004d48;
}

.nav-link {
  display: none;
  position: relative;
  padding: 0.75em 0.5em;
  vertical-align: middle;
  line-height: 110%;
  font-weight: 500;
  text-decoration: none;
  color: #1a1a1a;
}
.nav-link:focus {
  outline: 0;
}
.nav-link:focus:before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #008078;
  border-radius: 4px;
}
.nav-link:hover {
  text-decoration: none;
}
.nav-link:hover:before, .nav-link:active:before {
  display: none;
}
.nav-link.login-link {
  margin-right: 1.5em;
}
.nav-link.signup-link {
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  transition: all 0.15s ease-out;
  cursor: pointer;
  background: none;
  border: 2px solid #1a1a1a;
}
.nav-link.signup-link:hover {
  background-color: #1a1a1a;
  color: #f2f2f2;
}
@media (min-width: 720px) {
  .nav-link {
    display: inline-block;
  }
}

.signup-icon {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  margin-top: 0;
  height: 1.5rem;
}
.signup-icon svg {
  height: 100%;
}
@media (min-width: 720px) {
  .signup-icon {
    margin-top: -0.25em;
    display: none;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

button:not(:disabled) {
  cursor: pointer;
}
